#bocngoaitanktrang1 {
  position: absolute;
  width: 27px;
  height: 9px;
  border: 1px solid #fff;
  top: 77px;
  left: 178px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtanktrang1 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitanktrang2 {
  position: absolute;
  width: 27px;
  height: 9px;
  border: 1px solid #fff;
  top: 191px;
  left: 177px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtanktrang2 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitanktrang3 {
  position: absolute;
  width: 27px;
  height: 9px;
  border: 1px solid #fff;
  top: 322px;
  left: 180px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtanktrang3 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitanktrang4 {
  position: absolute;
  width: 27px;
  height: 9px;
  border: 1px solid #fff;
  top: 436px;
  left: 180px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtanktrang4 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitanktrang5 {
  position: absolute;
  width: 27px;
  height: 9px;
  border: 1px solid #fff;
  top: 113px;
  left: 557px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtanktrang5 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitanktrang6 {
  position: absolute;
  width: 27px;
  height: 9px;
  border: 1px solid #fff;
  top: 213px;
  left: 558px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtanktrang6 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitanktrang7 {
  position: absolute;
  width: 27px;
  height: 9px;
  border: 1px solid #fff;
  top: 321px;
  left: 563px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtanktrang7 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitanktrang8 {
  position: absolute;
  width: 27px;
  height: 9px;
  border: 1px solid #fff;
  top: 437px;
  left: 562px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtanktrang8 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitanktrang9 {
  position: absolute;
  width: 27px;
  height: 9px;
  border: 1px solid #fff;
  top: 567px;
  left: 720px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtanktrang9 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitanktrang10 {
  position: absolute;
  width: 27px;
  height: 9px;
  border: 1px solid #fff;
  top: 643px;
  left: 720px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtanktrang10 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitanktrang11 {
  position: absolute;
  width: 27px;
  height: 9px;
  border: 1px solid #fff;
  top: 812px;
  left: 719px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtanktrang11 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitanktrang12 {
  position: absolute;
  width: 27px;
  height: 9px;
  border: 1px solid #fff;
  top: 888px;
  left: 720px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtanktrang12 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitanktrang13 {
  position: absolute;
  width: 27px;
  height: 9px;
  border: 1px solid #fff;
  top: 812px;
  left: 660px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtanktrang13 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitanktrang14 {
  position: absolute;
  width: 27px;
  height: 9px;
  border: 1px solid #fff;
  top: 888px;
  left: 660px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtanktrang14 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitankxanh1 {
  position: absolute;
  width: 41px;
  height: 9px;
  border: 1px solid #fff;
  top: 87px;
  left: 247px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtankxanh1 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitankxanh2 {
  position: absolute;
  width: 41px;
  height: 9px;
  border: 1px solid #fff;
  top: 87px;
  left: 319px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtankxanh2 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitankxanh3 {
  position: absolute;
  width: 41px;
  height: 9px;
  border: 1px solid #fff;
  top: 201px;
  left: 247px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtankxanh3 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitankxanh4 {
  position: absolute;
  width: 41px;
  height: 9px;
  border: 1px solid #fff;
  top: 201px;
  left: 318px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtankxanh4 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitankxanh5 {
  position: absolute;
  width: 41px;
  height: 9px;
  border: 1px solid #fff;
  top: 331px;
  left: 247px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtankxanh5 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitankxanh6 {
  position: absolute;
  width: 41px;
  height: 9px;
  border: 1px solid #fff;
  top: 331px;
  left: 318px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtankxanh6 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitankxanh7 {
  position: absolute;
  width: 41px;
  height: 9px;
  border: 1px solid #fff;
  top: 444px;
  left: 247px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtankxanh7 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitankxanh8 {
  position: absolute;
  width: 41px;
  height: 9px;
  border: 1px solid #fff;
  top: 444px;
  left: 318px;
  background: #e5e1c3;
  z-index: 3;
}
#bentrongtankxanh8 {
  width: 50%;
  height: 100%;
  background: #45a939;
}
#bocngoaitankto {
  position: relative;
  width: 295px;
  height: 221px;
  border: 3px solid #04111c;
  top: -261px;
  left: 1094px;
  background: #fff;
  z-index: 3;
}
#bentrongtankto {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: #87cefa;
}
